.message-input-wrap {
  display: flex;
  padding: 20rpx;
  align-items: center;
}

.send-input {
  height: auto;
  background: #fff;
  font-size: 24rpx;
  border-radius: 20rpx;
  padding: 14rpx 0 14rpx 20rpx;
  max-height: 200rpx;
  width: 100%;
}

.send-more {
  width: 60rpx;
  height: 60rpx;
  flex-shrink: 0;
}

.icon {
  width: 60rpx;
  height: 60rpx;
  margin: 0 10rpx;
  cursor: pointer;
}